spacy 
nltk 
streamlit 
plotly 
wordcloud 
scikit-learn 
pandas 
gensim 
transformers 
beautifulsoup4 
Pillow 
matplotlib==3.7.1
torch==2.0.1
tensorflow==2.12.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl